---
baseurl: 'https://returnondata.netlify.app/'
---
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="author" content="retornondata.agency website"/>	
	<meta name="description" content="Return On Data - Houston Custom websites, E-Commerce Websites, Digital Marketing & SEO & PPC Advetising"/>
	<meta name="keywords" content="Return On Data Agency - Houston Texas Custom Website, E-commerce, Digital Marketing, SEO & PPC Advertising">	
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="google-site-verification" content="YixVusHq-vZlcwiHomOGdCC6cCI40Gw4TIvLcm9Gj_Y" />		
   
    <title> {{ title }} </title>

    <!-- FAVICON AND TOUCH ICONS -->
		<link rel="shortcut icon" href="{{ baseurl }}asset/img/logo-icon.png" type="image/x-icon">
		<link rel="icon" href="{{ baseurl }}asset/img/logo-icon.png" type="image/x-icon">
		<link rel="apple-touch-icon" sizes="152x152" href="{{ baseurl }}asset/img/logo-icon.png">
		<link rel="apple-touch-icon" sizes="120x120" href="{{ baseurl }}asset/img/logo-icon.png">
		<link rel="apple-touch-icon" sizes="76x76" href="{{ baseurl }}asset/img/logo-icon.png">
		<link rel="apple-touch-icon" href="{{ baseurl }}asset/img/logo-icon.png">
		<link rel="icon" href="{{ baseurl }}asset/img/logo-icon.png" type="image/x-icon">

		<!-- GOOGLE FONTS -->
		<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap" rel="stylesheet">

		<!-- BOOTSTRAP CSS -->
		<link href="{{ baseurl }}asset/css/bootstrap.min.css" rel="stylesheet">
				
		<!-- FONT ICONS -->
		<link href="{{ baseurl }}asset/css/flaticon.css" rel="stylesheet">

		<!-- PLUGINS STYLESHEET -->
		<link href="{{ baseurl }}asset/css/menu.css" rel="stylesheet">	
		<link id="effect" href="{{ baseurl }}asset/css/dropdown-effects/fade-down.css" media="all" rel="stylesheet">
		<link href="{{ baseurl }}asset/css/magnific-popup.css" rel="stylesheet">	
		<link href="{{ baseurl }}asset/css/owl.carousel.min.css" rel="stylesheet">
		<link href="{{ baseurl }}asset/css/owl.theme.default.min.css" rel="stylesheet">

		<!-- ON SCROLL ANIMATION -->
		<link href="{{ baseurl }}asset/css/animate.css" rel="stylesheet">

		<!-- TEMPLATE CSS -->
		<link href="{{ baseurl }}asset/css/style.css" rel="stylesheet"> 
		
		<!-- RESPONSIVE CSS -->
		<link href="{{ baseurl }}asset/css/responsive.css" rel="stylesheet">

		<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-8YNYHNLTY4"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-8YNYHNLTY4');
        </script>
</head>
  <body>
    {% include "./partials/navbar.html" %}

    {{ content | safe }}

    {% include "./partials/footer.html" %}

    {% if path == "home" %}
      <!-- Netlify Identity Widget -->
      <!-- Needed only if you are using Netlify Identity feature -->
      <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endif %}

  </body>
</html>