<header id="header" class="header tra-menu navbar-dark">

<div class=" header-wrapper">
   
   <!-- MOBILE HEADER -->
   <div class="wsmobileheader clearfix">	  	
    <span class="smllogo"><img src="{{ baseurl }}static/img/logo-dark.png" alt="mobile-logo"/></span>
    <a id="wsnavtoggle" class="wsanimated-arrow"><span></span></a>	
 </div>


 <!-- NAVIGATION MENU -->
  <div class="wsmainfull menu clearfix">
    <div class="wsmainwp clearfix">


        <!-- HEADER LOGOS -->
        <div class="desktoplogo"><a href="http://houston.returnondata.agency" class="logo-black"><img src="{{ baseurl }}static/img/logo-dark.png" alt="header-logo"></a></div>
        <div class="desktoplogo"><a href="http://houston.returnondata.agency" class="logo-white"><img src="{{ baseurl }}static/img/logo-white.png" alt="header-logo"></a></div>


    <nav class="wsmenu clearfix" x-data="{ isOpen: false }" @keydown.escape="isOpen = false"  @click.away="isOpen = false">

                {% if navigation.items %}

                <ul class="wsmenu-list nav-orange-red-hover">
                    {% for item in navigation.items %}
                        <li aria-haspopup="true">
                            <a @click="isOpen = false" href="{{ item.url }}" style="color:black">{{ item.text }}</a>
                        </li>
								
                    {% endfor %}
                    <li aria-haspopup="true"><a href="#" style="color:black" >Services<span class="wsarrow"></span></a>
                        <ul class="sub-menu">
                                <li aria-haspopup="true"><a href="/custom-website/">Custom Website</a></li>
                                <li aria-haspopup="true"><a href="http://houston.returnondata.agency/e-commerce.html">E-Commerce</a></li>
                                <li aria-haspopup="true"><a href="http://houston.returnondata.agency/digital-marketing.html">Digital Marketing</a></li>
                                <li aria-haspopup="true"><a href="http://houston.returnondata.agency/seo-ppc-advertising.html">SEO & PPC Advertising</a></li>	
                        </ul>
                    </li>
                </ul>

            {% endif %}
    </nav>
</div>
</header>